body {
   background: #191A1D;
    color: #fff;
    font-family: 'Rubik', sans-serif;

}

a {
    color: #fff;
    font-size: 20.25px;
    line-height: 2;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

h1, h3, h4 {
    font-weight: 400;    
}
h1 {
    font-size: 63px;
}
h2 {
    font-size: 47.25 px;
}
h3 {
    font-size: 31.5px;
}
footer {
    text-rendering: optimizeLegibility;
}
p {
    color: #ffffff80;
}
ul {
    color: #ffffff80;
    list-style: none;
    text-align: initial;
    padding-left: 0;
}

.btn__blue {
    align-content: center;
    background: rgb(25, 26, 29);
    border: 1px solid rgb(0, 120, 215);
    border-radius: 10px;
    font-size: 29.25px;
    font-weight: 300;
    line-height: normal;
    padding: 12px 10px;  
}
.btn__blue :hover {
    font-size: large;
    transition:  all 500ms ease-in-out;
}
.center-img, .center {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.featured__p,
.featured__p li {
    color: #ffffff80;
    font-weight: 300;

}
.intro__subtitle {
    color: #ffffff80;
   line-height: 1.4!important;
}
