:root {
    --primary-color: ;
    --secondary-color: ;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    background: #191A1D;
}

a {
text-decoration: none;
font-size: 20.25px;
line-height: 2;
color: #ffffff80;
text-rendering: optimizeLegibility;
}

a:hover {
    transition: color ease .3s;
}

button {
    padding: 20px 10px;
    background: #4b6cc1;
    border-radius: 1000px;
    display: inline-block;
    font-size: 29.25px;
    color: #fff;

}h1 {
    font-size: 63px;
    font-weight: 300;
}

h2 {
    font-size: 47.25 px;
    font-weight: 400;
}

h3 {
    font-size: 31.5px;
    font-weight: 300;
}

footer {
    text-rendering: optimizeLegibility;
}

main {
    margin-top: 222px!important;
}

.nav {
    color: #fff;
}

p {
    font-size: 26px;
    color: #ffffff80;
}

ul {
    list-style: none;
    text-align: initial;
    color: #ffffff80;
}

.hero {
    margin-top: 80px;
}

.intro-p {
    line-height: 1.5!important;
    color: #ffffff80;
    width: 770px;    
}
.page-width {
width: 92%;
max-width: 1406px;
display: flex;
justify-content: center;
}